a {
  text-decoration: none;
}

#title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  padding-top: 10%;
  padding-bottom: 3%;
}

#blurb {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#buttons-bar {
  text-align: center;
  justify-content: center;
  padding-top: 3%;
}

.icon-link {
  width: 25px;
  height: auto;
  padding: 3px;
  transition: 0s; /* Hover off transition */
  vertical-align: middle;
}

.icon-link:hover {
  transform: scale(1.2);
  transition: .15s ease-in-out; /* Hover on transition */
}

.icon-link:active {
  filter: invert(100%);
  transition: 0s; /* Click transition */
}
